body {
    background-color: #00296b;
    color: #000;
}

header {
    height: 100px;
    background: #FFD500;
}

h1 {
    color: #000;
    padding: 22px 0 0 20px;
}

nav {
    width: 500px;
    height: 20px;
    background: #FDC500;
    margin-left: 200px;
}

    nav ul {
        margin: 0 0 0 -10px;
    }

    nav li {
        float: left;
        list-style-type: none;
        padding: 0 10px;
        color: #;
    }

section {
    width: 800px;
    background: #FDC500;
    margin-top;
    -20px;
}

h2 {
    color: #000;
    padding: 10 px 0 0 10px;
}

article {
    width: 800px;
    background: #003F88;
}

    article p, li {
        padding: 10px;
    }

aside {
    width: 200px;
    height: 502px;
    background: #003F88;
    float: right;
    margin-top: -1px;
}

h3 {
    color: #000;
    padding: 10px 0 0 10px;
}

aside article {
    width: 200px;
    background: #003F88;
    color: #000;
}

footer {
    height: 40px;
    background: #003F88;
    margin-top: -16px;
}

    footer p {
        padding: 10px 0 0 10px;
        color: #000;
    }

.lahde {
    text-align: right;
