.vieri {
    width: 50%;
    padding: 15px;
    margin: 15px;
    margin-right: 15px;
    float: center;
}

#e {
    background-color: #f0bc16;
}

#t {
    background-color: #e82424;
}

#k {
    background-color: #69e81a;
}

#n {
    background-color: #20c7e7;
}

#v {
    background-color: #243cd7;
}

#ku {
    background-color: #bc20e9;
}

#s {
    background-color: #fceed1;
}

#ka {
    background-color: #18a56c;
}

#y {
    background-color: #94de8c;
}

#ky {
    background-color: #f1880d;
}

#yt {
    background-color: #206e3c;
}
