header {
    height: 100px;
    background: #ffecd1;
}

h1 {
    color: #000;
    padding: 22px 0 0 20px;
    text-align: center;
}

nav {
    width: 330px;
    height: 35px;
    background: #ff7d00;
    margin-left: auto;
}

    nav ul {
        margin: -20px;
        align-content: center;
    }

    nav li {
        float: left;
        list-style-type: none;
        padding: 5px 10px;
    }

section {
    width: 1849px;
    background: #ff7d00;
    margin-top: -20px;
}

h2 {
    color: #000;
    padding: 10px 10px 10px 10px;
}

article {
    width: 1310px;
    display: inline;
}

    article p {
        padding: 10px;
    }

aside {
    width: 1849px;
    height: 350px;
    background: #15616d;
    float: center;
    margin-top: -30px;
}

h3 {
    color: #000;
    padding: 10px 0 0 10px;
}

footer {
    height: 350px;
    background: #ffecd1;
    margin-top: -17px;
}

    footer p {
        padding: 10px 0 0 10px;
    }
