header {
    height: 100px;
    background: #ffd800;
}

h1 {
    color: #000;
    padding: 22px 0 0 20px;
}

nav {
    width: 400px;
    height: 30px;
    background: #ffd800;
    margin-left: 200px;
}

    nav ul {
        margin: 0 0 0 -10px;
    }

    nav li {
        float: left;
        list-style-type: none;
        padding: 0 10px;
    }

section {
    width: 1310px;
    background: #00ff21;
    margin-top: -20px;
}

h2 {
    color: #000;
    padding: 10 px 0 0 10px;
}

article {
    width: 1310px;
    background: #B5C0EB;
    display: inline;
}

    article p {
        padding: 10px;
    }

aside {
    width: 600px;
    height: 350px;
    background: #00ff21;
    float: right;
    margin-top: -35px;
}

h3 {
    color: #000;
    padding: 10px 0 0 10px;
}

aside article {
    width: 200px;
    background: #8592ED;
    color: #000;
}

footer {
    height: 40px;
    background: #ffd800;
    margin-top: -17px;
}

    footer p {
        padding: 10px 0 0 10px;
    }
