header {
    height: 38px;
    background: #ffd800;
}
body {
    background-color: #03071e;
}
h1 {
    color: #000;
    padding: 30px 10px 10px 20px;
    background: #d00000
}

h2 {
    color: #000;
    padding: 10px 0 0 10px;
}

article {
    width: 1310px;
    background: #fff;
    display: inline;

}

aside {
    width: 1465px;
    height: 500px;
    background: #ffba08;
    float: left;
    margin-top: 40px;
    padding: 20px;
}

h3 {
    color: #000;
    padding: 10px 0 0 10px;
}

aside article {
    width: 200px;
    background: #fff;
    color: #000;
}



   
